<div class="container mx-auto">
  <div class="mx-auto my-10 space-y-10">
    <h1 class="text-center text-3xl font-medium">Choose your category</h1>
    <p class="text-center text-gray-500 mx-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum totam assumenda quasi quisquam ex, cupiditate sed, voluptatem, rerum aspernatur quos unde dolores minus voluptatum autem consequatur! Dolorem provident odit quasi.</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-10 md:mx-0">
    <a href="#" class="relative block overflow-hidden rounded-xl bg-[url(https://images.unsplash.com/photo-1606787366850-de6330128bfc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)] bg-cover bg-center bg-no-repeat opacity-90">
      <span class="absolute right-4 top-4 z-10 inline-flex items-center rounded-full bg-black px-3 py-1 text-xs font-semibold text-white">
        22
        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notes" width="12" height="12" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
          <path d="M9 7l6 0"></path>
          <path d="M9 11l6 0"></path>
          <path d="M9 15l4 0"></path>
        </svg> -->
      </span>
      <div class="relative bg-black bg-opacity-40 p-8 pt-40 text-white">
        <h3 class="text-2xl font-bold">Food</h3>
      </div>
    </a>
    <a href="#" class="relative block overflow-hidden rounded-xl bg-[url(https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80)] bg-cover bg-center bg-no-repeat opacity-90">
      <span class="absolute right-4 top-4 z-10 inline-flex items-center rounded-full bg-black px-3 py-1 text-xs font-semibold text-white">
        35
        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notes" width="12" height="12" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
          <path d="M9 7l6 0"></path>
          <path d="M9 11l6 0"></path>
          <path d="M9 15l4 0"></path>
        </svg> -->
      </span>
      <div class="relative bg-black bg-opacity-40 p-8 pt-40 text-white">
        <h3 class="text-2xl font-bold">Sport</h3>
      </div>
    </a>
    <a href="#" class="relative block overflow-hidden rounded-xl bg-[url(https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)] bg-cover bg-center bg-no-repeat opacity-90">
      <span class="absolute right-4 top-4 z-10 inline-flex items-center rounded-full bg-black px-3 py-1 text-xs font-semibold text-white">
        22
        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notes" width="12" height="12" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
          <path d="M9 7l6 0"></path>
          <path d="M9 11l6 0"></path>
          <path d="M9 15l4 0"></path>
        </svg> -->
      </span>
      <div class="relative bg-black bg-opacity-40 p-8 pt-40 text-white">
        <h3 class="text-2xl font-bold">Countries</h3>
      </div>
    </a>
    <a href="#" class="relative block overflow-hidden rounded-xl bg-[url(https://images.unsplash.com/photo-1530213786676-41ad9f7736f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)] bg-cover bg-center bg-no-repeat opacity-90">
      <span class="absolute right-4 top-4 z-10 inline-flex items-center rounded-full bg-black px-3 py-1 text-xs font-semibold text-white">
        55
        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notes" width="12" height="12" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
          <path d="M9 7l6 0"></path>
          <path d="M9 11l6 0"></path>
          <path d="M9 15l4 0"></path>
        </svg> -->
      </span>
      <div class="relative bg-black bg-opacity-40 p-8 pt-40 text-white">
        <h3 class="text-2xl font-bold">Human</h3>
      </div>
    </a>
  </div>
</div>
